@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #364958;
}

.flex-rw{
  display: flex;
  flex-flow: row wrap;
  margin-top: 4%;
}

.team-card{
  width: 40%;
  margin: 2% 5%;
  background-color: #87bba2;
}

.member-card{
  margin: 2% 1%;
  background-color: #87bba2;
}

.search{
  width: 20%;
  position: fixed;
  right: 1%;
  top: 1%;
  background-color: #87bba2;
  border: black;
  z-index: 9999;
}

form {
  margin-top: 10%;
}

.form-bc{
  background-color: #87bba2;
  border: black;
}

.top-screen{
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}
